* {
  box-sizing: border-box;
  margin: 0px;
}

#player {
  border: 3px solid blue;
}

#dealer {
  border: 3px solid green;
}

#buttons {
  border: 3px solid red;
}

#info {
  border: 3px solid black;
}

#reset {
  text-align: center;
  color: grey;
}

.button {
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
}

.button:hover {
  font-weight: bold;
  color: black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.violet {
  background-color: violet;
}

.grey {
  background-color: #a2a392;
}

.purple {
  background-color: #9381ff;
  display: none;
}

.mycontainer {
  margin: 10px 10px;
  height: 95%;
}

.title, footer {
  text-align: center;
}

.hidden {
  display: none;
}

.playingcard {
  height: 150px;
  padding-top: 10px;
}

.playingcard:hover{
  padding-top: 0px;
	padding-bottom: 10px;
}

@media only screen
and (max-device-width: 600px)
 {
  .playingcard {
    height: 100px;
  }
 }